.card{
    /*Dimensões*/
    width: 300px;
    height: 400px;

    /*Espaçamento Interno*/
    padding: 20px;

    /*Estilo de Borda*/
    border: 1px solid#ccc;
    border-radius: 8px; /*Bordas arredondadas*/

    /*Sombra*/
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    /*Espaçamento Esterno*/
    margin: 20px;

    /*Outros*/
    background-color: #fff; /*Cor de fundo do card*/
    overflow: hidden; /*Esconde o conteúdo que ultrapassa o tamanho do card*/
    transition: transform 0.2s; /*Animação suave para hover*/
}

.card:hover {
    transform: scale(1.85); /* aumenta o card um pouco quando o mouse está sobre ele */
}

.imagem {
    width: 100%; /* faz a imagem ocupar toda a largura do card */
    border-radius: 6px 6px 0 0; /* bordas arredondadas apenas na parte superior */
}

.titulo {
    font-size: 24px;
    margin-bottom: 10px;
}
